In [1]:
import pandas as pd
import warnings; warnings.simplefilter('ignore')
import numpy as np
import json
import requests
import concurrent.futures
from tqdm import tqdm

In [3]:
gunluk_ozet = pd.read_parquet("../data/parquet/gunluk_ozet.parquet")
haftalık_ozet = pd.read_parquet("../data/parquet/haftalık_ozet.parquet")
port_all = pd.read_parquet("../data/parquet/port_all.parquet")

In [4]:
gunluk_ozet

,date,d_a_b,d_a_s,t_v_y,d_%,t_v,d_r_p,d_ur_p,a_r_p,a_ur_p,d_inv,d_a_c,a_inv,d_b,a_b,d_p,d_p_y
0,2023-07-03,9948.29,0.00,9948.29,0.14,9961.75,0.00,253.05,0.00,12.90,10000,-9948.29,10000,51.71,51.71,253.05,2.54
1,2023-07-04,0.00,0.00,9961.75,2.65,10226.20,0.00,253.30,0.00,277.35,0,0.00,10000,0.00,51.71,253.30,2.48
2,2023-07-05,0.00,0.00,10226.20,6.75,10916.45,0.00,628.80,0.00,967.60,0,0.00,10000,0.00,51.71,628.80,5.76
3,2023-07-06,0.00,0.00,10916.45,1.36,11065.05,0.00,129.55,0.00,1116.20,0,0.00,10000,0.00,51.71,129.55,1.17
4,2023-07-07,0.00,0.00,11065.05,-1.42,10907.55,0.00,-153.50,0.00,958.70,0,0.00,10000,0.00,51.71,-153.50,-1.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,2023-10-03,29518.83,9892.60,129870.48,8.47,140867.09,-524.67,-1850.15,-15.39,17605.67,10000,-19626.23,120050,-9626.23,1452.17,-2374.82,-1.69
66,2023-10-04,15223.29,15214.54,140867.09,0.20,141154.29,-191.51,-1087.69,96.36,17955.65,0,-8.75,120050,-8.75,1443.42,-1279.20,-0.91
67,2023-10-05,9551.80,9648.50,141154.29,0.56,141949.59,-345.00,633.26,-256.81,19188.74,0,96.70,120050,96.70,1540.12,288.26,0.20
68,2023-10-06,0.00,0.00,141949.59,3.51,146926.70,0.00,7235.10,88.19,24165.85,0,0.00,120050,0.00,1540.12,7235.10,4.92
69,2023-10-09,0.00,0.00,146926.70,-4.37,140510.11,0.00,-671.01,88.19,17749.26,0,0.00,120050,0.00,1540.12,-671.01,-0.48